{{#if includeForgotPassword}}
import { ForgotPasswordForm } from '@githat/nextjs';

export default function ForgotPasswordPage() {
  return (
    <main {{#if useTailwind}}className="flex items-center justify-center min-h-screen bg-[#09090b]"{{else}}style=\{{ display: 'flex', alignItems: 'center', justifyContent: 'center', minHeight: '100vh', background: '#09090b' }}{{/if}}>
      <ForgotPasswordForm signInUrl="/sign-in" />
    </main>
  );
}
{{/if}}
